{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Транслятор</title>
    <link rel="stylesheet" href="{% static 'core/bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/core.css' %}">
    <script src="{% static 'core/jq.js' %}"></script>
    <script src="{% static 'core/bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/core.js' %}"></script>

</head>
<body>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>

<a class="btn btn-success text-light  ssilka_na_adminku" href="/admin" target="_blank">Админка</a>
</body>
</html>