{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Транслятор</title>
    <link rel="stylesheet" href="{% static 'core/bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/core.css' %}">
    <script src="{% static 'core/jq.js' %}"></script>
    <script src="{% static 'core/bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>


    <script src="{% static 'core/playerjs.js' %}"></script>
</head>
<body>


<a class="btn btn-success text-light  ssilka_na_adminku" href="/admin" target="_blank">Админка</a>


<div id="player">

</div>

<script>

    async function proverka_hash_igraet_seichas(hash_proverki, player) {
        let request = await fetch({% url 'get_hash_igraet_seichas' %});
        let hash_igraet_seichas = await request.text();
        if (hash_igraet_seichas === '-') {
            player.api("pause");
        } else if (hash_proverki !== hash_igraet_seichas) {
            window.location.reload();
        } else {

           player.api("play");

            {#console.log('ОК', hash_proverki, hash_igraet_seichas)#}
        }
    }

    var player = new Playerjs({
        id: "player",
        file: [
            {% for i in  igraet_seichas.nabor_media.rn_media.all %}
                {
                    'title': '{{ i.media.id }}',
                    'file': '{{ i.media.url }}',
                    'poster': '{% static "core/logo.jpg" %}'
                },
            {% endfor %}
        ]
    });

    setInterval(() => proverka_hash_igraet_seichas('{{ igraet_seichas.local_id_hash }}', player), 1000);
</script>
</body>
</html>