{% extends "admin/import_export/change_list.html" %}

{% block object-tools %}
    <p>Сейчас играет: {% if igraet_seichas %}<a href="/admin/core/spisokvosproizvedenia/{{igraet_seichas}}/change/">id {{igraet_seichas}}</a> {% else %}Ничего{% endif %}</p>
    <ul class="object-tools">
        {% block object-tools-items %}
            <li><a href='{% url 'zapolnit_iz_raspisania_na_nedelu' %}' class="import_link">Скопировать из расписания на неделю</a></li>


            <li><a href='{% url 'ostanovit_vosproizvedenie' %}' class="import_link">Остановить трансялцию</a></li>
            <li><a href='{% url 'prodolzit_vosproizvedenie' %}' class="import_link">Продолжить трансялцию</a></li>
{#            {% include "admin/import_export/change_list_import_item.html" %}#}
{#            {% include "admin/import_export/change_list_export_item.html" %}#}
            {{ block.super }}
        {% endblock %}
    </ul>
{% endblock %}

